image: python:3.13

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_LINK_MODE: copy
  UV_PROJECT_ENVIRONMENT: ".venv"
  UV_CACHE_DIR: .uv-cache
  UV_NO_SOURCES: true

before_script:
  # Provides credentials to pip to access private GitLab PyPi index.
  - echo "machine gitlab.pik-potsdam.de" > ~/.netrc
  - echo "  login gitlab-ci-token" >> ~/.netrc
  - echo "  password ${CI_JOB_TOKEN}" >> ~/.netrc

stages:
  - build
  - test
  - deploy

cache:
  - key:
      files:
        - uv.lock
    paths:
      - $UV_CACHE_DIR

.uv:
  tags:
    - se164-docker
  before_script:
    - git config --global url."https://gitlab.pik-potsdam.de/".insteadOf "ssh://git@gitlab.pik-potsdam.de/"
    - pip install uv
    - python -V
    - pwd
    - ls -lisah
    - uv sync --extra light --group dev
  after_script:
    - uv cache prune --ci

build-job:
  extends: .uv
  stage: build
  script:
    - uv pip freeze

test-ruff:
  extends: .uv
  stage: test
  script:
    - uv run ruff check
    - uv run ruff format --check

test-mypy:
  extends: .uv
  stage: test
  script:
    - uv run mypy

deploy-to-production:
  stage: deploy
  tags:
    - se164-bare
  script:
    - echo "Current working directory and user"
    - pwd
    - whoami
    - groups
    - echo $HOME
    - echo "Go to deployment location"
    - cd /data/nacsos2/nacsos-core
    - ls -lisah
    - sudo chown -R gitlab-runner:gitlab-runner /data/nacsos2/nacsos-core
    - ls -lisah
    - echo "Stopping NACSOS-core service"
    - sudo systemctl stop nacsos-core.service
    - echo "Dropping virtual environment"
    - rm -rf .venv
    - echo "Fetching updated source"
    - git stash  # "reset" softly by stashing (in case files changed)
    - git pull origin production  # pull from origin (production branch)
    - echo "Creating new virtual environment"
    - uv sync --extra full --cache-dir ../.cache
    - source venv/bin/activate
    - which python
    - python -V
    - pip freeze
    - echo "Handling migrations"
    - nacsos_migrate upgrade --revision head --root-path=/data/nacsos2/nacsos-core/.venv/lib/python/site-packages/nacsos_data --ini-file=/data/nacsos2/nacsos-core/config/alembic.ini
    - sudo chown -R nacsos:nacsos /data/nacsos2/nacsos-core
    - echo "Starting NACSOS-core service"
    - sudo systemctl start nacsos-core.service
  when: manual
  only:
    - production


restart-workers:
  stage: deploy
  tags:
    - se164-bare
  script:
    - sudo systemctl stop nacsos-dramatiq.service
    - sleep 10
    - sudo systemctl start nacsos-dramatiq.service
  when: manual
  only:
    - production
