-r requirements_base.txt
-e "../nacsos_data[utils,scripts]"


flake8==7.3.0
tox==4.31.0
pytest==8.4.2
pytest-cov==7.0.0
mypy==1.18.2
types-toml==0.10.8.20240310
types-PyYAML==6.0.12.20250915
types-aiofiles==25.1.0.20251011