fastapi==0.85.1
hypercorn==0.14.3
toml==0.10.2
email-validator==1.3.0
python-dotenv==0.21.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
httpx[http2]==0.23.0
pymitter==0.4.0
-e git+ssh://git@gitlab.pik-potsdam.de/mcc-apsis/nacsos/nacsos-data.git@0880bc8a47ba79ce7e2fa927716c7887d96f2cf4#egg=nacsos_data