fastapi==0.115.12
hypercorn==0.17.3
toml==0.10.2
email-validator==2.2.0
python-dotenv==1.1.0
passlib[bcrypt]==1.7.4
pymitter==0.5.1
uvicorn==0.34.0
python-multipart==0.0.20
aiosmtplib==4.0.0
aiofiles==24.1.0
dramatiq[redis,watch]==1.17.1
dramatiq-abort==1.2.1
dramatiq-dashboard==0.4.0